body {
	font-family: sans-serif;
}

.container {
	margin: auto;
	width: 75%;
	padding: 10px 10px;
	line-height: 1.5;
	display:flex;
	background-color: #F4F4F4;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 3px 10px 2px;
}

h1 {
	background-color: #404654;
	color: white;
	font-size: 26px;
	padding: 10px 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 2px 3px 10px 2px;
  	text-shadow: 2px 2px 3px #414245;
  	width: 75%;
  	margin-left: auto;
    margin-right: auto;


}


p {
	margin: auto;
	width: 90%;
	padding: 30px 30px;
	
}


img {
	border-radius: 50%;
	float: left;
	width: 200px;
	height: 200px;

}

.kenya {
	background-color: #2F5D8C;
}

.germany {
	background-color: #A0B3C1;
}

.china {
	background-color: #CD7E59;
}

.denmark {
	background-color: #93ABA1;
}

